<h4 class="text-muted text-center">Create company</h4>
<div *ngIf="msg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{msg}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="mt-3" [formGroup]="companyGroup" (ngSubmit)="companyGroup.valid && onSubmit()">
    <div class="form-group row">
        <label for="id_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" formControlName="name" class="form-control" id="id_name"
                [ngClass]="{'is-invalid': companyGroup.get('name').touched && companyGroup.get('name').invalid}">
            <div class="invalid-feedback">
                Name required!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_desc" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" formControlName="description" class="form-control" id="id_desc">
        </div>
    </div>
    <div class="form-group row">
        <label for="id_addrs" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" formControlName="address" class="form-control" id="id_addrs">
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <label for="id_username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" formControlName="username" class="form-control" id="id_username"
                [ngClass]="{'is-invalid': companyGroup.get('username').touched && companyGroup.get('username').invalid}">
            <div class="invalid-feedback">
                Username required!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" formControlName="email" class="form-control" id="id_email"
                [ngClass]="{'is-invalid': companyGroup.get('email').touched && companyGroup.get('email').invalid}">
            <div class="invalid-feedback">
                Email required!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" formControlName="password" class="form-control" id="id_password"
                [ngClass]="{'is-invalid': companyGroup.get('password').touched && companyGroup.get('password').invalid}">
            <div class="invalid-feedback">
                Password required!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <button class="btn btn-primary mt-3" [disabled]="!companyGroup.valid" type="submit">Add company</button>
        </div>
    </div>
</form>